In [1]:
#file handling : File handling refers to the process of performing operations on a file, such as creating, opening, reading, writing and closing it through a programming interface. It involves managing the data flow between the program and the file system on the storage device, ensuring that data is handled safely and efficiently.

In [2]:
#why do we need File Handling
#To store data permanently, even after the program ends.
#To access external files like .txt, .csv, .json, etc.
#To process large files efficiently without using much memory.
#To automate tasks like reading configs or saving outputs.
#To handle input/output in real-world applications and tools.

In [60]:
#Opening a File in Python
#syntax : file = open('filename.txt', 'mode')


file = open(r"Desktop\hi.txt")
print(file.name)

Desktop\hi.txt

In [61]:
#Closing a File
file = open(r"Desktop\hi.txt")
file.close()
file_closed = file.closed
print("file closed ?",file_closed)

file closed ? True

In [62]:
#Checking File Properties
file = open(r"Desktop\hi.txt")
file_mode = file.mode
print(file_mode)
file_name = file.name
print(file_name)
file

r
Desktop\hi.txt

In [63]:
#read the file
file = open(r"Desktop\hi.txt")
content=file.read()  #able to print
print(file.mode)
file.close()
is_file_closed=file.closed
print("file closed?",is_file_closed)

r
file closed? True

In [32]:
#Using with Statement
#Instead of manually opening and closing the file, you can use the with statement, which automatically handles closing. This reduces the risk of file corruption and resource leakage.

In [64]:
with open(r"Desktop\hi.txt") as file:
    content=file.read()
    print(content)
print("is file closed automatically ?",file.closed)

Hi Prathyusha
welcome to Python learning
is file closed automatically ? True

In [65]:
#Handling Exceptions When Closing a File
try:
    file = open(r"Desktop\hi.txt")
    content=file.read()
    print(content)
    print(file.name)
finally:
    file.close()
    print(file.closed)

Hi Prathyusha
welcome to Python learning
Desktop\hi.txt
True

In [66]:
#readline() - prints single line in a file
file=open(r"Desktop\hi.txt")
a=file.readline()
print("firstLine",a)
file.close()

firstLine Hi Prathyusha

In [67]:
#readlines()
file=open(r"Desktop\hi.txt")
a=file.readlines() #prints all lines as list
print(a)
file.close()

['Hi Prathyusha\n', 'welcome to Python learning']

In [72]:
#write() files
file = open("Desktop\hi.txt","w")
name="hey,This is Prathyusha"
file.write(name)
print("data is written")
file.close()

data is written

In [73]:
#print the contents in a file
file = open(r"Desktop\hi.txt")
content= file.read()
print(content)

hey,This is Prathyusha

In [92]:
#writelines()
file = open("Desktop\hi.txt","w")
name="hello,Prathyusha"
file.writelines(name)
print("data is written using writelines()")
file.close()

data is written using writelines()

In [93]:
#append - a

file = open("Desktop\hi.txt","a")
file.write("appended")
file.close()

In [94]:
#The only difference between the write() and writelines() is that write() is used to write a string to an already opened file while writelines() method is used to write a list of strings in an opened file.

In [98]:
print(content)

b'hello,Prathyushaappended'

In [96]:
# x - if file exist , throws err , if file doesn;t exist create and write the content
try:
    with open("Desktop\hi.txt", 'x') as file:
        file.write("hii Prathyu")
        print("hi.txt created successfully.")
except FileExistsError:
    print("file already exists. Cannot overwrite.")

file already exists. Cannot overwrite.

In [100]:
#wb - write binary 
file = open("Desktop\hi.txt","wb")
file.write(b'\x00\x10\xFF\xEE')

file.close()

In [102]:
#rb - read binary
file = open("Desktop\hi.txt","rb")
content= file.read()
print(content)

b'\x00\x10\xff\xee'

In [104]:
# w- ovveride content
file = open("Desktop\hi.txt","w")
file.write("Hello Prathyusha")

file.close()

In [105]:
#read the content
file = open(r"Desktop\hi.txt")
content= file.read()
print(content)

Hello Prathyusha

In [106]:
###### os module*****

In [107]:
#get current working directory
import os
cwd = os.getcwd()
print(cwd)

C:\Users\Prathyusha Imandi

In [115]:
#Changing the Current working directory
change_directoy=os.chdir("../")
print(os.getcwd())

C:\Users

In [126]:
#mkdir - create a directory
import os
directory = "new1"
parent_dir = "C:/Users/Prathyusha Imandi"
path = os.path.join(parent_dir, directory)

os.mkdir(path)
print("Directory '% s' created" % directory)
directory = "Geeks"
parent_dir = "C:/Users/Prathyusha Imandi"
mode = 0o666
path = os.path.join(parent_dir, directory)
os.mkdir(path, mode)
print("Directory '% s' created" % directory)

Directory 'new1' created
Directory 'Geeks' created

In [127]:
#Listing out Files and Directories with Python
import os 
path = "/"
dir_list = os.listdir(path) 
print("Files and directories in '", path, "' :") 
print(dir_list)

Files and directories in ' / ' :
['$Recycle.Bin', '$SysReset', '$WINRE_BACKUP_PARTITION.MARKER', 'Config.Msi', 'devlist.txt', 'Documents and Settings', 'DRIVERS', 'DumpStack.log', 'DumpStack.log.tmp', 'eSupport', 'Finish.log', 'hiberfil.sys', 'inetpub', 'Intel', 'IntelOptaneData', 'MSOCache', 'OneDriveTemp', 'pagefile.sys', 'PerfLogs', 'Program Files', 'Program Files (x86)', 'ProgramData', 'Recovery', 'swapfile.sys', 'System Volume Information', 'Users', 'Windows', 'xampp']

In [128]:
#Deleting Directory or Files using Python
import os 
directory = "Geeks"
parent ="C:/Users/Prathyusha Imandi"
path = os.path.join(parent, directory) 
os.rmdir(path)

In [130]:
os.chdir("Prathyusha Imandi")

In [131]:
os.getcwd()

'C:\\Users\\Prathyusha Imandi'

In [134]:
dir_list = os.listdir(path)
#Geeks is deleted, that's why can't specify

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:/Users/Prathyusha Imandi\\Geeks'

In [135]:
#files also we can remove using os.remove() function

In [154]:
#file permissions
os.chmod("Desktop\hi.txt", 0o777)
#Explanation: 0o600 means:

#Owner: Read & write
#Group: No permission
#Others: No permission

In [155]:
#os.chmod() method is used to change the permissions (read, write, execute) of a file or directory. Permissions must be passed in octal format (e.g., 0o600).

In [156]:
import os

# Change owner and group to user ID 1000 and group ID 1000
os.chown("Desktop\hi.txt", 1000, 1000)
# It is used in Unix/Linux systems only.

AttributeError: module 'os' has no attribute 'chown'

In [157]:
#os.stat() method is used to retrieve metadata about a file such as its size, permissions, and timestamps.

In [158]:
#Commonly Used Functions
#Using os.name function
import os
print(os.name)

nt

In [159]:
#Using os.error Function
#All functions in this module raise OSError in the case of invalid or inaccessible file names and paths, or other arguments that have the correct type, but are not accepted by the operating system. os.error is an alias for built-in OSError exception.
import os
try:
    filename = 'Desktop\hi.txt'
    f = open(filename, 'r')
    text = f.read()
    print(text)
    f.close()
except IOError:
  print('Problem reading: ' + filename)

Hello

In [160]:
#Using os.popen() Function
#This method opens a pipe to or from command. The return value can be read or written depending on whether the mode is 'r' or 'w'. 

#Syntax: 

# os.popen(command[, mode[, bufsize]])

import os
fd = "Desktop\hi.txt"

file = open(fd, 'w')
file.write("Hello")
file.close()
file = open(fd, 'r')
text = file.read()
print(text)

file = os.popen(fd, 'w')
file.write("Hello")

Hello

5

In [162]:
#A file opened using open(), can be closed by close() only. But file opened through os.popen(), can be closed with close() or os.close(). If we try closing a file opened with open(), using os.close(), Python would throw TypeError. 
import os
fd = "Desktop/hi.txt"
file = open(fd, 'r')
text = file.read()
print(text)
os.close(file)

Hello

TypeError: an integer is required (got type _io.TextIOWrapper)

In [163]:
#A file "old.txt" can be renamed to "new.txt", using the function os.rename(). The name of the file changes only if, the file exists and the user has sufficient privilege permission to change the file.

In [1]:
################# 2. reading data from text, csv , json #######################

In [ ]:
#reading the text file: we already covered above
Test files are the widely used forms of data. In Python, we have a function to access the text files and that is the open() function. We also have different modes of accessing like:
1. ‘r’: reading from a file
2. ‘w’: writing to a file
3. ‘r+’ or ‘w+’: read and write to a file
4. ‘a’: appending to an already existing file
5. ‘a+’: append to a file after reading

In [3]:
#Reading Data from CSV file
# To access the data from a CSV file, we can use the pandas module.

In [2]:
import pandas as pd #importing the pandas module
# reading the csv file into a DataFrame. ‘R’ represent read mode
df = pd.read_csv(r"C:\\Users\\Prathyusha Imandi\\Desktop\\titanic.csv")
# displaying the DataFrame , head prints first 5 rows
df.head()
df.loc[0,"Age"] = 23.0 #update the particular value using loc function
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,23.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
#Reading certain rows df[1:3]
df[1:4] #prints row 1 to (4-1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [17]:
#Reading certain columns using loc method
df.loc[3:5,["Survived","Pclass"]] # df.loc[from_which_row:to which row,["all coumn names"]]

   Survived  Pclass
3         1       1
4         0       3
5         0       3

In [18]:
#Reading from Excel File

In [29]:
df= pd.read_excel(r"C:\Users\Prathyusha Imandi\Downloads\October sheet.xlsx")
df.head()

   Unnamed: 0             Budget              Unnamed: 2 Unnamed: 3
0         NaN  % of Income Spent                 Summary        NaN
1         NaN                NaN    Total Monthly Income        NaN
2         NaN                NaN                  162681        NaN
3         NaN                NaN  Total Monthly Expenses        NaN
4         NaN                NaN                   94723        NaN

In [4]:
#reading a sheet in an excel:
df = pd.read_excel(r"C:\Users\Prathyusha Imandi\Downloads\October sheet.xlsx",sheet_name="Manage My Money")
df[41:45]

    Unnamed: 0              Budget Unnamed: 2 Unnamed: 3
41         NaN     panta D tablets         48     Oct3rd
42         NaN              petrol        320    oct 4th
43         NaN          🍅 tomatoes         45    oct 4th
44         NaN  pesticide cleaning        600    oct 5th

In [33]:
#Reading more than one sheet
#with pd.ExcelFile('exl.xlsx') as e:
                #df1=pandas.read_excel(e,'Sheet1')
                #df2=pandas.read_excel(e,'Sheet2')

In [69]:
#Reading Data from JSON file
import pandas as pd

df = pd.read_json("Desktop\sample.json")

# Add new columns (key-value pairs)
df["city"] = "Hyderabad"
df["profession"] = "Engineer"

# Save updated DataFrame back to JSON file (array of records)
df.to_json("Desktop\sample.json", orient="records")
df

         name  age       city profession
0  Prathyusha   24  Hyderabad   Engineer

In [6]:
# ====== EXTRA: os.path utilities ======
import os

file_path = "example.txt"

# Create a sample file
with open(file_path, "w") as f:
    f.write("Hello, World!")

print("Exists:", os.path.exists(file_path))
print("Is File:", os.path.isfile(file_path))
print("Is Directory:", os.path.isdir(file_path))
print("File Size:", os.path.getsize(file_path), "bytes")
print("Base Name:", os.path.basename(file_path))
print("Dir Name:", os.path.dirname(file_path))

# ====== EXTRA: shutil module ======
import shutil

# Copy file
shutil.copy(file_path, "example_copy.txt")

# Move file (renaming)
shutil.move("example_copy.txt", "renamed_copy.txt")

# Remove file
os.remove("renamed_copy.txt")

# Remove a directory tree (with files inside)
os.mkdir("test_dir")
with open("test_dir/temp.txt", "w") as f:
    f.write("Inside folder")
shutil.rmtree("test_dir")

# ====== EXTRA: Error handling for files ======
try:
    os.remove("non_existing_file.txt")
except FileNotFoundError:
    print("File not found! Cannot delete.")

print("Extra Day 6 section completed successfully ✅")

Exists: True
Is File: True
Is Directory: False
File Size: 13 bytes
Base Name: example.txt
Dir Name:
File not found! Cannot delete.
Extra Day 6 section completed successfully ✅